<script lang="ts" setup>
import { defineAsyncComponent, computed, ref } from 'vue'
import type { ProgramsRequestInterface } from '~/types/request'
import { getDayRange } from '~/utils/dateUtil'
import { useClockStore } from '~/store/clock'
import { useChannelsStore } from '~/store/channels'

//////
// Components
const SelectorsComponent = defineAsyncComponent(
  () => import('~/components/pages/SelectorsComponent.vue')
)
const PaginationComponent = defineAsyncComponent(
  () => import('~/components/pages/PaginationComponent.vue')
)

const ProgramsTableComponent = defineAsyncComponent(
  () => import('~/components/pages/ProgramsTableComponent.vue')
)

//////
// Variables
const clockStore = useClockStore()
const channelsStore = useChannelsStore()
const loading = ref<boolean>(false)

const request = computed<ProgramsRequestInterface>(() => {
  const range = getDayRange(clockStore.selectedDate, clockStore.timezone)
  const request = {
    'live.id[eq]': channelsStore.chanelGetter?.id,
    'start_time[gt]': range['start_time[gt]'],
    'end_time[lt]': range['end_time[lt]'],
  }
  if (request['live.id[eq]']) {
    getData(request)
  }
  return request
})

//////
// Functions
async function getData(request: ProgramsRequestInterface) {
  loading.value = true
  if (request['live.id[eq]']) {
    await channelsStore.getPrograms(request).then(() => {
      loading.value = false
    })
  }
}
</script>

<template>
  <v-row id="main-page" justify="center">
    <v-col>
      <SelectorsComponent />
      <PaginationComponent />
      <ProgramsTableComponent
        class="mt-8"
        :loading="loading"
        :channel-id="request['live.id[eq]']"
      />
    </v-col>
  </v-row>
</template>
