<script lang="ts" setup>
import { defineAsyncComponent, computed } from 'vue'
import { useClockStore } from '~/store/clock'
import { formatDate, isToday, dateWithOffset } from '~/utils/dateUtil'

//////
// Components
const DateViewer = defineAsyncComponent(
  () => import('~/components/ui/DateViewer.vue')
)

//////
// Variables
const clockStore = useClockStore()

const paginationDates = computed(() => {
  return {
    next: dateWithOffset(clockStore.selectedDate, clockStore.timezone, 1),
    prev: dateWithOffset(clockStore.selectedDate, clockStore.timezone, -1),
  }
})
</script>

<template>
  <v-row class="pagination" justify="space-between" align="center">
    <v-btn
      prepend-icon="mdi-chevron-double-left"
      color="warning"
      variant="tonal"
      :text="formatDate(paginationDates.prev, clockStore.timezone, 'short')"
      @click="clockStore.setSelectedDate(paginationDates.prev)"
    />

    <DateViewer
      :date="
        !isToday(clockStore.selectedDate, clockStore.timezone)
          ? formatDate(clockStore.selectedDate, clockStore.timezone, 'short')
          : undefined
      "
    />

    <v-btn
      append-icon="mdi-chevron-double-right"
      color="warning"
      variant="tonal"
      :text="formatDate(paginationDates.next, clockStore.timezone, 'short')"
      @click="clockStore.setSelectedDate(paginationDates.next)"
    />
  </v-row>
</template>
