<template>
  <v-row class="table-row" justify="center" align="center">
    <v-col class="v-card text-center" v-if="!channelId" cols="10" sm="6" xl="4">
      <v-card class="mt-8 pa-5">
        <v-card-title class="d-flex align-center justify-center">
          <v-icon icon="mdi-television-classic" class="me-3" />
          <span class="mt-2">{{ $t('app.tableProgramsEmpty') }}</span>
        </v-card-title>
      </v-card>
    </v-col>

    <v-col v-else cols="12" md="10">
      <ProgramTableWrapper :loading="loading" />
    </v-col>
  </v-row>
</template>

<script lang="ts" setup>
import { defineAsyncComponent } from 'vue'

//////
// Components
const ProgramTableWrapper = defineAsyncComponent(
  () => import('~/components/ui/ProgramTableWrapper.vue')
)

//////
// Props
defineProps<{
  channelId?: number
  loading: boolean
}>()
</script>
