<script lang="ts" setup>
import { defineAsyncComponent, computed } from 'vue'
import type { ChannelInterface } from '~/types/channel'
import type { TimezoneInterface } from '~/types/timezone'
import { useChannelsStore } from '~/store/channels'
import { useClockStore } from '~/store/clock'

//////
// Components
const OptionsSelector = defineAsyncComponent(
  () => import('~/components/ui/OptionsSelector.vue')
)

//////
// Variables
const channelsStore = useChannelsStore()
const clockStore = useClockStore()

const channel = computed<ChannelInterface | undefined>({
  get() {
    return channelsStore.chanelGetter as ChannelInterface | undefined
  },
  set(value: ChannelInterface | undefined) {
    channelsStore.setChannelId(value!.id)
  },
})

const timezone = computed<TimezoneInterface>({
  get() {
    return clockStore.timezone
  },
  set(value: TimezoneInterface) {
    clockStore.setTimezone(value)
  },
})

//////
// Functions
async function initSelectorsData() {
  await clockStore.getTimezones()
  const timezones = clockStore.timezonesGetter
  if (timezones.length) {
    timezone.value = timezones[0]
  }

  await channelsStore.getChannels()
  const channels = channelsStore.channelsGetter
  if (channels.length) {
    channel.value = channels[0]
  }
}

await initSelectorsData()
</script>

<template>
  <v-row justify="center">
    <OptionsSelector
      title="channel"
      v-model:value="channel"
      :items="channelsStore.channelsGetter"
      item-title="name"
      item-value="id"
    />
    <OptionsSelector
      title="timezone"
      v-model:value="timezone"
      :items="clockStore.timezonesGetter"
      @get-data="clockStore.getTimezones"
    />
  </v-row>
</template>
