.user-select-none {
    user-select: none;
  }
  
  html {
    scroll-behavior: smooth;
  }
  .slide-enter-active,
  .slide-leave-active {
    transition: opacity 0.3s ease-out, transform 0.3s ease-out, filter 0.3s ease-out;
  }
  
  .slide-enter-from,
  .slide-leave-to {
    filter: blur(8px);
    transform: translateY(-30px);
    opacity: 0;
  }