<script setup lang="ts">
import { defineAsyncComponent } from 'vue'
import { useI18n } from 'vue-i18n'

//////
// Variables
const { t } = useI18n()

//////
// Components
const DefaultLayout = defineAsyncComponent(
  () => import('~/layouts/DefaultLayout.vue')
)
const PreloaderLayout = defineAsyncComponent(
  () => import('~/layouts/PreloaderLayout.vue')
)

document.title = t('app.title')
</script>

<template>
  <Suspense>
    <template #default>
      <DefaultLayout />
    </template>
    <template #fallback>
      <PreloaderLayout />
    </template>
  </Suspense>
</template>
