<script lang="ts" setup>
import { onBeforeMount, onBeforeUnmount, defineAsyncComponent } from 'vue'
import { useClockStore } from '~/store/clock'
import { useAuthStore } from '~/store/auth'

//////
// Components
const MainPageComponent = defineAsyncComponent(
  () => import('~/components/pages/MainPageComponent.vue')
)
const LocaleSelector = defineAsyncComponent(
  () => import('~/components/ui/LocaleSelector.vue')
)
const DateViewer = defineAsyncComponent(
  () => import('~/components/ui/DateViewer.vue')
)

//////
// Variables
const clockStore = useClockStore()
const authStore = useAuthStore()

onBeforeMount(() => {
  clockStore.startIntegratedClock()
})

onBeforeUnmount(() => {
  clockStore.stopIntegratedClock()
})

await authStore.getToken()
</script>

<template>
  <v-app id="tvprogram-layout-default">
    <v-app-bar class="user-select-none">
      <v-app-bar-nav-icon :icon="'mdi-television'" color="warning" />

      <template v-if="$vuetify.display.smAndUp">
        <v-app-bar-title>
          <h1 class="text-h6">
            {{ $t('app.title') }}
          </h1>
        </v-app-bar-title>

        <v-spacer />
      </template>

      <template #append>
        <LocaleSelector class="me-3" />

        <DateViewer show-timezone />
      </template>
    </v-app-bar>

    <v-main>
      <v-container>
        <MainPageComponent />
      </v-container>
    </v-main>
  </v-app>
</template>
