<template>
  <div class="table-wrapper">
    <component
      :key="`${isVirtual}`"
      :is="isVirtual ? 'v-data-table-virtual' : 'v-data-table'"
      ref="tableRef"
      class="elevation-24"
      :items="props.items"
      items-per-page="-1"
      :loading="loading"
      fixed-header
      :item-height="rowHeight"
      :height="tableHeight"
    >
      <template #headers>
        <ProgramTableRowWithProgress is-header />
      </template>
      <template #item="{ item }">
        <ProgramTableRowWithProgress
          :is-today="isToday(selectedDate, timezone)"
          :is-on-air="
            onAir(item.raw.start_time, item.raw.end_time, systemDate, timezone)
          "
          :name="item.raw.name"
          :description="item.raw.description"
          :start-time="item.raw.start_time"
          :end-time="item.raw.end_time"
          :timezone="timezone"
          :row-height="rowHeight"
          :air-id="airId"
        />
      </template>
      <template #bottom></template>
    </component>
  </div>
</template>

<script lang="ts" setup>
import {
  watchEffect,
  onBeforeUnmount,
  defineAsyncComponent,
  ref,
  nextTick,
} from 'vue'
import { ProgramInterface } from '~/types/program'
import { TimezoneInterface } from '~/types/timezone'
import { onAir, isToday } from '~/utils/dateUtil'

//////
// Components
const ProgramTableRowWithProgress = defineAsyncComponent(
  () => import('~/components/ui/tables/ProgramTableRowWithProgress.vue')
)

//////
// Props
const props = defineProps<{
  loading?: boolean
  items: ProgramInterface[]
  timezone: TimezoneInterface
  systemDate: Date
  selectedDate: Date
  tableHeight: number
  rowHeight: number
  airId: string
  isVirtual: boolean
}>()

//////
// Variables
const tableRef = ref()
const tableObserver = ref<MutationObserver>()

//////
// Functions
function handleScroll(table: HTMLDivElement, index: number) {
  const row: HTMLTableRowElement | null = table.querySelector('tr#offline')
  const thead: HTMLTableSectionElement | null = table.querySelector('thead')

  if (row && thead) {
    nextTick(() => {
      calculateScrollHeight(table, thead, row, index)
    })
  } else {
    setTimeout(() => {
      handleScroll(table, index)
    }, 10)
  }
}

function calculateScrollHeight(
  table: HTMLDivElement,
  thead: HTMLTableSectionElement,
  row: HTMLTableRowElement,
  index: number
) {
  const wrapper: HTMLDivElement | null =
    table.querySelector('.v-table__wrapper')

  if (thead && wrapper) {
    const scrollTop =
      row.offsetHeight * index - wrapper.offsetHeight / 2 + thead.offsetHeight
    scrollToTarget(scrollTop)
  }
}

function scrollToTarget(scrollTop?: number) {
  const wrapper = tableRef.value.$el.querySelector('.v-table__wrapper')

  wrapper.scrollTo({
    top: scrollTop || 0,
    behavior: 'smooth',
  })
}

const tableWatcherStop = watchEffect(
  () => {
    const table: HTMLDivElement | null = tableRef.value?.$el
    const index = props.items.findIndex((i) =>
      onAir(i.start_time, i.end_time, props.selectedDate, props.timezone)
    )
    const today = isToday(props.selectedDate, props.timezone)

    if (table && index > 0 && today) {
      handleScroll(table, index)
    } else {
      scrollToTarget()
    }
    console.log('Experimental: isVirtual', props.isVirtual)
  },
  {
    flush: 'post',
  }
)

onBeforeUnmount(() => {
  tableWatcherStop()
  tableObserver.value?.disconnect()
})
</script>
