<template>
  <v-progress-linear
    :model-value="progress"
    striped
    color="warning"
    class="progress-bar"
    :height="rowHeight"
  />
</template>

<script lang="ts" setup>
import { computed } from 'vue'
import { useClockStore } from '~/store/clock'
import { airProgress } from '~/utils/dateUtil'

//////
// Props
const props = defineProps<{
  start: string
  end: string
  rowHeight?: number
}>()

//////
// Variables
const clockStore = useClockStore()

const progress = computed(() => {
  return airProgress(
    props.start,
    props.end,
    clockStore.systemDate,
    clockStore.timezone
  )
})

//////
// Functions
</script>

<style lang="scss" scoped>
.progress-bar {
  position: absolute;
  left: 150px;
  opacity: 0.2;
  width: 100%;
  z-index: 0;
}
</style>
