<template>
  <component :is="isHeader ? 'th' : 'td'" class="row-name">
    <template v-if="isHeader"> {{ $t('app.programsTable.name') }}</template>
    <template v-else>
      <div
        class="row-name-container d-flex align-center"
        :style="{ 'max-height': `${rowHeight}px`, height: `${rowHeight}px` }"
      >
        {{ name }}
      </div>
    </template>
  </component>

  <component :is="isHeader ? 'th' : 'td'" class="row-description text-truncate">
    {{
      isHeader
        ? $t('app.programsTable.description')
        : description || $t('app.programsTable.empty')
    }}
  </component>

  <component
    :is="isHeader ? 'th' : 'td'"
    class="row-start-time text-end text-no-wrap"
  >
    {{ isHeader ? $t('app.programsTable.start_time') : startTime }}
  </component>

  <component
    :is="isHeader ? 'th' : 'td'"
    class="row-end-time text-end text-no-wrap"
  >
    {{ isHeader ? $t('app.programsTable.end_time') : endTime }}
  </component>
</template>

<script lang="ts" setup>
//////
// Props
defineProps<{
  isHeader?: boolean
  name?: string
  description?: string
  startTime?: string
  endTime?: string
  rowHeight?: number
}>()
</script>

<style lang="scss" scoped>
.row-name {
  overflow: hidden;
  width: 400px;
  min-width: 400px;
}

.row-name-container {
  overflow: hidden;
}

.row-description {
  min-width: 300px;
  max-width: 300px;
}

.row-end-time,
.row-start-time {
  width: 140px;
}
</style>
