<template>
  <tr
    class="program-table-row user-select-none"
    :id="isHeader ? 'head' : isOnAir ? airId || 'air' : 'offline'"
    :style="{ height: `${rowHeight}px` }"
  >
    <ProgramTableRow
      :is-header="isHeader"
      :row-height="rowHeight"
      :name="name"
      :description="sanitizeText(description!)"
      :start-time="handleItemDate(startTime!)"
      :end-time="handleItemDate(endTime!)"
    />
    <template v-if="!isHeader && isToday">
      <ProgramTableRowProgress
        v-if="isOnAir"
        :start="startTime!"
        :end="endTime!"
        :row-height="rowHeight"
      />
    </template>
  </tr>
</template>

<script lang="ts" setup>
import { defineAsyncComponent } from 'vue'
import { TimezoneInterface } from '~/types/timezone'
import { formatDate } from '~/utils/dateUtil'
import { sanitizeText } from '~/utils/simpleSanitizeUtil'

//////
// Components
const ProgramTableRow = defineAsyncComponent(
  () => import('~/components/ui/tables/ProgramTableRow.vue')
)
const ProgramTableRowProgress = defineAsyncComponent(
  () => import('~/components/ui/tables/ProgramTableRowProgress.vue')
)

//////
// Props
const props = defineProps<{
  isHeader?: boolean
  isToday?: boolean
  isOnAir?: boolean
  name?: string
  description?: string
  startTime?: string
  endTime?: string
  timezone?: TimezoneInterface
  rowHeight?: number
  airId?: string
}>()

//////
// Functions
function handleItemDate(dateString: string): string {
  return formatDate(new Date(dateString), props.timezone!, 'time')
}
</script>

<style lang="scss" scoped>
.program-table-row {
  position: relative;
  width: 100%;
}
</style>
