<template>
  <v-chip id="timezone-time">
    <span v-if="showTimezone" class="me-1">{{ clockStore!.timezone }}</span>
    <span>
      {{
        date ? date : formatDate(clockStore!.systemDate, clockStore!.timezone)
      }}
    </span>
  </v-chip>
</template>

<script setup lang="ts">
import { useClockStore } from '~/store/clock'
import { formatDate } from '~/utils/dateUtil'

//////
// Props
const props = defineProps<{
  date?: string
  showTimezone?: boolean
}>()

//////
// Variables
const clockStore = props.date && !props.showTimezone ? null : useClockStore()
</script>
