<script lang="ts" setup>
import { useI18n } from 'vue-i18n'
import type { AvaliableLocales } from '~/types/locales'
import messages from '~/i18n/messages'
import { setLocale } from '~/utils/localeUtil'

const { locale } = useI18n()

//////
// Variables
const locales = Object.keys(messages).map((l: AvaliableLocales) => {
  return {
    title: messages[l].$lang,
    value: l,
  }
})
</script>

<template>
  <div id="locale-selector">
    <v-menu>
      <template #activator="{ props }">
        <v-btn
          color="warning"
          :density="$vuetify.display.smAndUp ? 'comfortable' : 'compact'"
          variant="tonal"
          v-bind="props"
        >
          {{ locale }}
        </v-btn>
      </template>
      <v-list>
        <v-list-item
          v-for="item in locales"
          :key="item.value"
          :value="item.value"
          class="px-6"
          @click="setLocale(item.value)"
        >
          <v-list-item-title>{{ item.title }}</v-list-item-title>
        </v-list-item>
      </v-list>
    </v-menu>
  </div>
</template>
~/types/locales
