<script lang="ts" setup>
import { computed } from 'vue'
import { ChannelInterface } from '~/types/channel'
import { TimezoneInterface } from '~/types/timezone'

//////
// Props
const props = defineProps<{
  value?: ChannelInterface | TimezoneInterface
  items: ChannelInterface[] | TimezoneInterface[]
  title: string
  itemTitle?: string
  itemValue?: string
}>()

//////
// Emits
const emit = defineEmits(['update:value'])

//////
// Variables
const loading = computed<boolean>(() => {
  return props.items.length < 0
})

const valueComputed = computed({
  get() {
    return props.value
  },
  set(value) {
    if (value) {
      emit('update:value', value)
    }
  },
})
</script>

<template>
  <v-col cols="12" md="10" xl="6">
    <v-autocomplete
      v-model:model-value="valueComputed"
      :label="$t(`app.${title}`)"
      :items="items"
      :loading="loading"
      :item-title="itemTitle"
      :item-value="itemValue"
      variant="outlined"
      return-object
      select-exact
    />
  </v-col>
</template>
