<template>
  <v-row class="mb-8" justify="center">
    <v-switch
      v-model="isVirtual"
      :label="`${
        isVirtual
          ? $t('app.programsTable.virtual')
          : $t('app.programsTable.static')
      } ${$t('app.programsTable.table')}`"
      color="error"
    />
    <v-container>
      <transition name="slide" mode="out-in">
        <ProgramTable
          :key="`${isVirtual}`"
          :loading="loading"
          :items="channelsStore.channelPrograms"
          :timezone="clockStore.timezone"
          :system-date="clockStore.systemDate"
          :selected-date="clockStore.selectedDate"
          :table-height="tableHeight"
          :row-height="rowHeight"
          :air-id="airId"
          :is-virtual="isVirtual"
        />
      </transition>
    </v-container>
  </v-row>
</template>

<script lang="ts" setup>
import { defineAsyncComponent, ref } from 'vue'
import { useChannelsStore } from '~/store/channels'
import { useClockStore } from '~/store/clock'

//////
// Components
const ProgramTable = defineAsyncComponent(
  () => import('~/components/ui/tables/ProgramTable.vue')
)

//////
// Props
defineProps<{
  loading?: boolean
}>()

//////
// Variables
const tableHeight: number = 700
const rowHeight: number = 72
const airId: string = 'on-air'

const isVirtual = ref<boolean>(false)

const channelsStore = useChannelsStore()
const clockStore = useClockStore()
</script>
